*{
    box-sizing: border-box;
}
.galeria {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.galeria .kep {
   flex: 0 0 150px; /*nem engedjük az átméretezést, és 150py minden kkis kép*/
}
.galeria img {
  width: 100%;
}
.nagykep {
    display: flex;
    justify-content: center;
    border: 1px solid gray; 
    border-radius: 10px;
    padding: 10px;
}
.nagykep img {
    width: 80%;
}

